* {
	box-sizing: border-box;
}

body {
	background-color: #f1f1f1;
	margin: 0;
	text-align: center;
}

.bookID {
	display: none;
}

nav {
  display: inline-block;
  display: flex;
  align-items: center;
  background-color: #D3D3D3;
  padding-left: 24px;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,.04);
  margin-top: 0;
}

nav img {
  width: 80px;
  margin-right: 10px;
}

nav p {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #4A4A4A;
  display: inline-block;
  line-height: 25px;
  margin-bottom: 0;
  margin-top: 10px;
}

nav a {
  text-decoration: none;
  color: #4A4A4A;
}

.libraryBooksDisplayed {
    font-family: 'Open Sans', sans-serif;
    border-collapse: collapse;
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}


tr {
    background-color: #ffffff;
}

.mainPageHeader {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.mainBodyLogo img {
	width: 20%;
	height: auto;
}

.searchBody {

}