* {
	box-sizing: border-box;
}

body {
 background-color: #afabcb;
text-align: center;
}

.bookID {
	display: none;
}

nav {
  display: inline-block;
  display: flex;
  align-items: center;
  background-color: #F5F5F5;
  padding-left: 24px;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,.04);
  padding-top: 5px;
  margin-top: 0;
  margin-bottom: 5px;
}

nav img {
  width: 80px;
  margin-right: 10px;
}

nav p {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: solid black;
  display: inline-block;
  line-height: 25px;
  margin-bottom: 0;
  margin-top: 10px;
  vertical-align: center;
}

nav a {
  text-decoration: none;
}

.libraryBooksDisplayed {
    font-family: 'Open Sans', sans-serif;
    border-collapse: collapse;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.libraryBooksCheckedOut {
	font-family: 'Open Sans', sans-serif;
    border-collapse: collapse;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}


tr {
    background-color: #ffffff;
}

.pageTitle h1 {
	font-size: 45px;
}

.main-page {
	font-family: 'Open Sans', sans-serif;
    border-collapse: collapse;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
}

.mainPageHeader {
	display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}

.mainBodyLogo img {
	width: 40%;
	height: auto;
}

.libraryBooksSearch {
	font-family: 'Open Sans', sans-serif;
    border-collapse: collapse;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.bookBody {
	margin-top: 100px;
	width: 50%;
	margin-left: auto;
    margin-right: auto;
    border-color: #000080 2px;
}

.mainPage {
	margin-top: 66px;
	margin-bottom: 66px;
}

.mainPageHeader button {
	background: rgba(255, 255, 255);
	transition: color 0.25s linear;
	border: none;
	padding: 17px 10px;
	border-radius: 5px
} 


.mainPageHeader button:hover {
	background: #20B2AA;
}

.booksRandomPage {
	background-color: #ffffff;
	border: 1px;
	border-color: #D3D3D3;
	border-radius: 5px;
	padding-top: 25px;
	margin-top: 25px;
}

.checkoutListPage {
	background-color: #ffffff;
	border: 1px;
	border-color: #D3D3D3;
	border-radius: 5px;
	padding-top: 25px;
	margin-top: 25px;
}

.addNewBookForm {
	background-color: #ffffff;
	border: 1px;
	border-color: #D3D3D3;
	border-radius: 5px;
	
}

.individualBookEditPage {
	background-color: #ffffff;
	border: 1px;
	border-color: #D3D3D3;
	border-radius: 5px;
	padding-top: 25px;
	margin-top: 25px;
}

.bookCheckoutPage {
	background-color: #ffffff;
	border: 1px;
	border-color: #D3D3D3;
	border-radius: 5px;
	padding-top: 25px;
	margin-top: 25px;
}

.floatLeft {
	float: left;
}

.exitBookRandomPage {
	text-align: right;
	font-size: 15px;
	border: none;
	background: none;
}

.exitBookCheckoutSheet {
	text-align: right;
	font-size: 15px;
	border: none;
	background: none;
}
.exitNewBookForm a button {
	margin-left: 80px;
	border: none;
	background: none;
}
.exitNewBookForm button {
	margin-left: 80px;
	border: none;
	background: none;
}
.exitNewBookForm {
	text-align: right;
	font-size: 15px;
	border: none;
	background: none;
}

.exitIndividualBook {
	text-align: right;
	font-size: 15px;
	border: none;
	background: none;
}

.exitNewBookEditForm {
	text-align: right;
	font-size: 15px;
	border: none;
	background: none;
}

.bookViewButton {
	border: none;
	background: none;
} 

.exitCheckoutButton {
	margin-left: 80px;
	border: none;
	background: none;
}

.exitCheckoutEditForm {
	text-align: right;
	font-size: 15px;
	border: none;
	background: none;
}

.randomBookInputForm {
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: left;
	padding-left: 20px;
}

.randomBookPage h2 {
	text-align: center;
}

.individualBookForm {
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: left;
}

.addANewBook {
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: left;
	margin-left: auto;
    margin-right: auto;

}

.searchLibraryPage input {
	border-radius: 5px;
	margin-bottom: 15px;
	text-align: left;
}

.directionalButtons {
	float: right;
}

.individualBookCheckoutForm {
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: left;
}

.individualBookForm input {
	border-radius: 5px;
	margin-bottom: 15px;
}

.addANewBook input {
	border-radius: 5px;
	margin-bottom: 15px;
}

.individualBookCheckoutForm input {
	border-radius: 5px;
	margin-bottom: 15px;
}

.individualBookForm select {
	border-radius: 5px;
	margin-bottom: 15px;
}

.randomBookPage select {
	border-radius: 5px;
	margin-bottom: 15px;
}

.addANewBook select {
	border-radius: 5px;
	margin-bottom: 15px;
}

.bookRandomImage {
	padding-bottom: 10px;
	padding-top: 10px;
}



.bookCheckoutListImage {
	padding-bottom: 10px;
	padding-top: 10px;
}

.bookCheckoutImage {
	padding-bottom: 10px;
	padding-top: 10px;
}

.bookEditPageImage {
	padding-bottom: 10px;
	padding-top: 10px;
}

.addANewBookImage {
	padding-bottom: 10px;
	padding-top: 10px;
}

.bookRandomImage img {
	width: 40%;
	height: auto;
}

.bookCheckoutListImage img {
	width: 40%;
	height: auto;
}

.bookCheckoutImage img {
	width: 40%;
	height: auto;
}

.bookEditPageImage img {
	width: 40%;
	height: auto;
}

.addANewBookImage img {
	width: 40%;
	height: auto;
}

.renderIndividualImage img {
	width: 40%;
	height: auto;
}

.addDescription {
	height: 30px;
}

.individualBookList {
	list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.individualBookPage {
	background-color: #ffffff;
	border: 1px;
	border-color: #D3D3D3;
	border-radius: 5px;
	padding-top: 25px;
	margin-top: 25px;
}

.submitNewBook button {
	background: rgba(255, 255, 255);
	transition: color 0.25s linear;
	border: none;
	padding: 17px 10px;
	border-radius: 5px
	margin-left: auto;
    margin-right: auto;
} 


.submitNewBook button:hover {
	background: #20B2AA;
}

.alignElements {
	width: 60%
}