* {
	box-sizing: border-box;
}

body {
	background-color: #FFD1A3;
}

.bookID {
	display: none;
}

nav {
  display: inline-block;
  display: flex;
  align-items: center;
  background-color: #9CECFF;
  height: 50px;
  padding: 24px 35px;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,.04);
}

nav img {
  width: 60px;
  margin-right: 10px;
}

nav p {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #4A4A4A;
  display: inline-block;
  line-height: 25px;
  margin-bottom: 0;
}

nav a {
  text-decoration: none;
  color: #4A4A4A;
}